<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>

		<typeAlias alias="Member" type="team3.gamble.model.Member"/>
		<typeAlias alias="Cash" type="team3.gamble.model.Cash"/>

		<typeAlias alias="Member" type="gemble.team3.gemble.Member"/>
		<typeAlias alias="Cash" type="gemble.team3.gemble.Cash"/>

	</typeAliases>

	<mappers>

		<mapper resource="team3/web/mybatis/Member.xml"/>
		<mapper resource="team3/web/mybatis/Cash.xml"/>

		<mapper resource="gemble/team3/mybatis/Member.xml"/>
		<mapper resource="gemble/team3/mybatis/Cash.xml"/>
	</mappers>

</configuration>