<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="Reply" type="team3.gamble.model.Reply" />
	</typeAliases>

	<mappers>
		<mapper resource="team3/gamble/mybatis/Reply.xml" /> <!--  -->
	</mappers>

</configuration>